.drinkCardBox {
    position: relative;
     /* min-height: 100vh; */
    padding-bottom: 30px
}

.drinkCard {
    margin: 20px; 
    padding: 20px; 
    position: relative; 
    border-radius: 15px
}

.drinkCardIcon {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}