:root {
    --main-color: #61ACF0;
    --main-color-light: #6EB2F2;
    --main-color-dark: #3B97ED;
    --main-color-darker: #2B72E3;
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #4b4b4b;
    --main-grey: #222222;
    --main-grey-dark: #1E1E1E;
    --main-grey-light: #333333;
    --lighten: #ffffff10;
}

.ingredientTitle {
    margin: 4pt 0pt -2pt 4pt;
    padding: 2pt 6pt 2pt 6pt;
    max-width: fit-content;
    background-color: var(--main-color-darker);
    border-radius: 4pt 0pt 0pt 0pt;
    
}

.ingredientContainer {
    margin-bottom: 6pt;
    padding: 2pt;
}

.titleButtons {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.ingredientHeader {
    display: flex;
}